<div class="h-[20vh]">
  <h3 class="text-3xl mt-20 text-gray-200 text-center">
    CSS Frameworks
  </h3>

  <div class="flex flex-wrap justify-around max-w-xl w-full mx-auto mt-10">
    <div class="flex justify-center items-center">
      <span class="rounded-lg w-32 h-10 p-1 bg-gray-300 text-gray-900">
        Tailwindcss
      </span>
    </div>
    <div class="flex justify-center items-center">
      <span class="rounded-lg w-32 h-10 p-1 bg-gray-300 text-gray-900">
        Bootstrap
      </span>
    </div>
  </div>
</div>
