<div class="h-[40vh]">
  <h3 class="text-3xl mt-20 text-gray-200 text-center">
    Javascript Frameworks
  </h3>

  <div class="flex flex-wrap justify-around max-w-xl w-full mx-auto mt-10">
    <div class="flex justify-center items-center">
      <span class="rounded-lg w-32 p-1 h-10 bg-gray-300 text-gray-900">
        Hotwire
      </span>
    </div>
    <div class="flex justify-center items-center">
      <span class="rounded-lg w-32 p-1 h-10 bg-gray-300 text-gray-900">
        StimulusJs
      </span>
    </div>
    <div class="flex justify-center items-center">
      <span class="rounded-lg w-32 p-1 h-10 bg-gray-300 text-gray-900">
        ReactJs
      </span>
    </div>
  </div>
</div>
