<div class="max-w-5xl w-full mx-auto mt-36 rounded-sm px-4">
  <h1 class="text-3xl text-gray-300 text-center"> Contact Me </h1>
  <div class="max-w-3xl w-full mx-auto flex justify-between mt-6">
    <div class="grid gap-2">
      <label class="text-xl text-gray-100"> Email </label>
      <p class="text-xl text-gray-200"> enochtamulonis@gmail.com </p>
    </div>
    <div class="grid gap-2">
      <label class="text-xl text-gray-100"> Phone </label>
      <p class="text-xl text-gray-200"> 407-516-5884 </p>
    </div>
  </div>
</div>