<div class="w-full fixed top-0 flex justify-end pt-4 px-8">
  <div>
    <a href="https://github.com/yunggindigo">
      <%= image_tag "github-logo", class: "object-cover h-10" %>
    </a>
  </div>
</div>
